@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  word-break: break-all;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: #6e6e6e;
  font-size: 1.6rem;
}

header,
footer {
  display: block;
}

a,
a:link,
a:visited {
  color: #4d4d4d;
  text-decoration: none;
}

img {
  border: 0;
}

ul {
  list-style: none;
}

#confetti{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
}

.center {
  background: #000c18;
  background: -webkit-linear-gradient(#013971, #000c18 60%);
  background: -moz-linear-gradient(#013971, #000c18 60%);
  background: -o-linear-gradient(#013971, #000c18 60%);
  background: -ms-linear-gradient(#013971, #000c18 60%);
  background: linear-gradient(#013971, #000c18 60%);
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.center::before, .center::after {
  content: "";
  position: absolute;
}
.center::before {
  background: rgba(255, 250, 175, 0.8);
  border-radius: 50%;
  box-shadow: 0 0 3rem 0 rgba(255, 250, 175, 0.5);
  height: 16rem;
  left: 20%;
  top: -4rem;
  width: 16rem;
}
.center::after {
  background: -moz-radial-gradient(circle, rgba(255, 255, 255, 0.3), transparent 5%) left/14rem 15rem, radial-gradient(circle, rgba(255, 255, 255, 0.4), transparent 3%) left/10rem 9rem;
  background: -webkit-radial-gradient(circle, rgba(255, 255, 255, 0.3), transparent 5%) left/14rem 15rem, radial-gradient(circle, rgba(255, 255, 255, 0.4), transparent 3%) left/10rem 9rem;
  background: -o-radial-gradient(circle, rgba(255, 255, 255, 0.3), transparent 5%) left/14rem 15rem, radial-gradient(circle, rgba(255, 255, 255, 0.4), transparent 3%) left/10rem 9rem;
  background: -ms-radial-gradient(circle, rgba(255, 255, 255, 0.3), transparent 5%) left/14rem 15rem, radial-gradient(circle, rgba(255, 255, 255, 0.4), transparent 3%) left/10rem 9rem;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3), transparent 5%) left/14rem 15rem, radial-gradient(circle, rgba(255, 255, 255, 0.4), transparent 3%) left/10rem 9rem;
  height: 100%;
  width: 100%;
}

.mountains {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.mountains::before, .mountains::after {
  background: #000c18;
  background: -moz-linear-gradient(#012a53, #000c18 50%);
  background: -webkit-linear-gradient(#012a53, #000c18 50%);
  background: -o-linear-gradient(#012a53, #000c18 50%);
  background: -ms-linear-gradient(#012a53, #000c18 50%);
  background: linear-gradient(#012a53, #000c18 50%);
  content: "";
  height: 100%;
  position: absolute;
}
.mountains::before {
  border-radius: 100% 300% 0 0;
  left: -20%;
  width: 57%;
}
.mountains::after {
  border-radius: 300% 100% 0 0;
  right: -20%;
  width: 80%;
}

/* .frame {
  height: 100vh;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 110rem;
  z-index: 1;
} */
.frammainer{
  height: 100%;
  position: absolute;
  top: 0%;
  transform: translate(0%, 0%);
  width: 100%;
  z-index: 1;
}
.frame {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0%;
  transform: translate(0%, 0%);
  width: 100%;
  z-index: 1; 
}
.frame::before, .frame::after {
  background: black;
  background: -webkit-linear-gradient(#333333, black 20%);
  background: -moz-linear-gradient(#333333, black 20%);
  background: -o-linear-gradient(#333333, black 20%);
  background: -ms-linear-gradient(#333333, black 20%);
  background: linear-gradient(#333333, black 20%);
  bottom: 12.6rem;
  content: "";
  height: 20rem;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.frame::before {
  border-radius: 0 1rem 0 0;
  border-right: 0.5rem solid black;
  left: -100%;
}
.frame::after {
  border-left: 0.5rem solid black;
  border-radius: 1rem 0 0 0;
  right: -100%;
}

.bridge {
  border-bottom: 0.3rem solid white;
  border-top: 0.3rem solid white;
  background: black;
  background: -webkit-linear-gradient(55deg, transparent 46%, white 46%, white 54%, transparent 54%) left/1.6rem 2.2rem, -webkit-linear-gradient(-55deg, transparent 46%, white 46%, white 54%, transparent 54%) left/1.6rem 2.2rem;
  background: -moz-linear-gradient(55deg, transparent 46%, white 46%, white 54%, transparent 54%) left/1.6rem 2.2rem, -moz-linear-gradient(-55deg, transparent 46%, white 46%, white 54%, transparent 54%) left/1.6rem 2.2rem;
  background: -o-linear-gradient(55deg, transparent 46%, white 46%, white 54%, transparent 54%) left/1.6rem 2.2rem, -o-linear-gradient(-55deg, transparent 46%, white 46%, white 54%, transparent 54%) left/1.6rem 2.2rem;
  background: -ms-linear-gradient(55deg, transparent 46%, white 46%, white 54%, transparent 54%) left/1.6rem 2.2rem, -ms-linear-gradient(-55deg, transparent 46%, white 46%, white 54%, transparent 54%) left/1.6rem 2.2rem;
  background: linear-gradient(55deg, transparent 46%, white 46%, white 54%, transparent 54%) left/1.6rem 2.2rem, linear-gradient(-55deg, transparent 46%, white 46%, white 54%, transparent 54%) left/1.6rem 2.2rem;
  bottom: 60px;
  height: 2.6rem;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.train {
  animation: move-train 200s linear infinite;
  bottom: 90px;
  height: 10rem;
  position: absolute;
  /* left: calc(100% + 1.3rem); */
  left: 90%;
  width: 7000px;
  z-index: 1;  
}

.engine-front::before, .engine-front::after, .engine-front {
  background: #0f0f0f;
  background: linear-gradient(0deg, #0f0f0f, #262626, #0f0f0f);
  border: 0.1rem solid rgba(255, 255, 255, 0.15);
  border-radius: 50% 0 0 50%;
  border-right: none;
}

.engine-front {
  animation: body-upDown 0.3s infinite;
  border-radius: 0.5rem 0 0 0.5rem;
  bottom: 1.4rem;
  height: 4.6rem;
  left: 0;
  position: absolute;
  width: 8rem;
}
.engine-front::before, .engine-front::after {
  content: "";
  position: absolute;
  height: 70%;
  left: -0.9rem;
  top: 50%;
  transform: translate(0, -50%);
  width: 0.8rem;
}
.engine-front::after {
  height: 40%;
  left: -1.4rem;
  width: 0.5rem;
}

.chimney {
  background: #990000;
  height: 2.2rem;
  left: 2.5rem;
  position: absolute;
  top: -2.3rem;
  width: 1.7rem;
}
.chimney::before, .chimney::after {
  content: "";
  position: absolute;
}
.chimney::before {
  animation: up-down 0.3s infinite;
  border-bottom: none;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.8rem solid orange;
  left: 50%;
  top: -0.9rem;
  transform: translate(-50%, 0);
  width: 160%;
}

.smoke {
  animation: move-smoke 0.4s linear infinite;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  height: 1.4rem;
  left: 0.2rem;
  position: absolute;
  top: -1.5rem;
  width: 0.8rem;
  z-index: -1;
}
.smoke-2 {
  animation-delay: 0.1s;
  left: 0.4rem;
}
.smoke-3 {
  animation-delay: 0.2s;
  left: 0.6rem;
}
.smoke-4 {
  left: 0.8rem;
}

.engine-body {
  animation: body-upDown 0.3s 0.1s infinite;
  background: #b30000;
  background: linear-gradient(0deg, #330000, red, #990000);
  border-radius: 0 0 0.4rem 0;
  bottom: 1.4rem;
  height: 7rem;
  left: 8rem;
  position: absolute;
  width: 5rem;
}
.engine-body::before, .engine-body::after {
  content: "";
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
}
.engine-body::before {
  animation: up-down 0.3s 0.2s infinite;
  background: #660000;
  background: linear-gradient(0deg, #660000, #990000, #660000);
  border-radius: 50% 50% 0 0;
  height: 1.2rem;
  top: -1.2rem;
  width: 130%;
}
.engine-body::after {
  background: #b3e0f2;
  border-radius: 0.2rem;
  height: 40%;
  top: 1rem;
  width: 45%;
}

.wheel::after, .wheel::before {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wheel-holder {
  height: 2.8rem;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.wheel {
  animation: rotate 2s linear infinite;
  background: orange;
  border: 0.3rem solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  height: 2.8rem;
  left: 1rem;
  position: absolute;
  width: 2.8rem;
}
.wheel-2 {
  left: 4.5rem;
  z-index: 1;
}
.wheel-3 {
  border-width: 0.5rem;
  height: 3.8rem;
  left: 8.7rem;
  top: -1.1rem;
  width: 3.8rem;
}
.wheel-4 {
  left: 15.7rem;
}
.wheel-5 {
  left: 19.5rem;
}
.wheel-6 {
  left: 25.7rem;
}
.wheel-7 {
  left: 29.5rem;
}
.wheel-8 {
  left: 35.7rem;
}
.wheel-9 {
  left: 39.5rem;
}
.wheel::before, .wheel::after {
  content: "";
  position: absolute;
}
.wheel::before {
  background: rgba(0, 0, 0, 0.3);
  height: 86%;
  width: 0.2rem;
}
.wheel::after {
  background: #996300;
  background: -webkit-radial-gradient(circle at center, #b37400 30%, #996300 30%);
  background: -moz-radial-gradient(circle at center, #b37400 30%, #996300 30%);
  background: -o-radial-gradient(circle at center, #b37400 30%, #996300 30%);
  background: -ms-radial-gradient(circle at center, #b37400 30%, #996300 30%);
  background: radial-gradient(circle at center, #b37400 30%, #996300 30%);
  border-radius: 50%;
  height: 40%;
  width: 40%;
}

.compartment {
  animation: body-upDown 0.3s infinite;
  background: #186c8e;
  background: -webkit-linear-gradient(#104b63 50%, #1f8dba);
  background: -moz-linear-gradient(#104b63 50%, #1f8dba);
  background: -o-linear-gradient(#104b63 50%, #1f8dba);
  background: -ms-linear-gradient(#104b63 50%, #1f8dba);
  background: linear-gradient(#104b63 50%, #1f8dba);
  border-radius: 0 0 0.3rem 0.3rem;
  bottom: 1.4rem;
  height: 5rem;
  left: 15rem;
  position: absolute;
  width: 8rem;
}
.compartment-two {
  animation: body-upDown 0.3s 0.1s infinite;
  left: 25rem;
}
.compartment-two .compartment-window::before {
  animation: up-down 0.3s 0.3s infinite;
}
.compartment-three {
  animation: body-upDown 0.3s 0.2s infinite;
  left: 35rem;
}
.compartment-three .compartment-window::before {
  animation: up-down 0.35s infinite;
} 
.compartment::before, .compartment::after {
  background: black;
  border: 0.4rem solid transparent;
  bottom: 0.4rem;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
  content: "";
  height: 0.8rem;
  position: absolute;
  width: 0.9rem;
}
.compartment::before {
  border-left: 0.4rem solid rgba(255, 255, 255, 0.3);
  left: -0.9rem;
}
.compartment::after {
  border-right: 0.4rem solid rgba(255, 255, 255, 0.3);
  left: -2rem;
} 
.compartment-window {
  background: #1f8dba;
  background: -moz-linear-gradient(90deg, transparent 0.8rem, skyblue 0.8rem) left/3.65rem 100%;
  background: -webkit-linear-gradient(90deg, transparent 0.8rem, skyblue 0.8rem) left/3.65rem 100%;
  background: -o-linear-gradient(90deg, transparent 0.8rem, skyblue 0.8rem) left/3.65rem 100%;
  background: -ms-linear-gradient(90deg, transparent 0.8rem, skyblue 0.8rem) left/3.65rem 100%;
  background: linear-gradient(90deg, transparent 0.8rem, skyblue 0.8rem) left/3.65rem 100%;
  height: 40%;
  position: absolute;
  top: 0.7rem;
  width: 100%;
}
.compartment-window::before, .compartment-window::after {
  content: "";
  position: absolute;
}
.compartment-window::before {
  animation: up-down 0.3s 0.1s infinite;
  background: #104b63;
  border-radius: 50% 50% 0 0;
  height: 0.6rem;
  left: 50%;
  top: -1.4rem;
  transform: translate(-50%, 0);
  width: 110%;
}

@keyframes up-down {
  0%, 100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -0.3rem);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes move-train {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-7000px);
  }
}
@keyframes body-upDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
}
@keyframes move-smoke {
  0% {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  50% {
    -webkit-filter: blur(0.2rem);
    -moz-filter: blur(0.2rem);
    -o-filter: blur(0.2rem);
    -ms-filter: blur(0.2rem);
    filter: blur(0.2rem);
    opacity: 0.6;
    transform: translate(0, -3rem) scale(2);
  }
  100% {
    -webkit-filter: blur(0.3rem);
    -moz-filter: blur(0.3rem);
    -o-filter: blur(0.3rem);
    -ms-filter: blur(0.3rem);
    filter: blur(0.3rem);
    opacity: 0;
    transform: translate(2.5rem, -6rem) scale(3);
  }
}
.wheel-joint {
  animation: wheel-joint 2s linear infinite;
  background: white;
  border-radius: 0.6rem;
  height: 0.4rem;
  position: absolute;
  right: 0.4rem;
  top: calc(50% - 0.2rem);
  transform-origin: 100% 50%;
  width: 3.6rem;
  z-index: 1;
}
.wheel-joint::before, .wheel-joint::after {
  background: #333333;
  border: 0.1rem solid white;
  border-radius: 50%;
  content: "";
  height: 0.8rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 0.8rem;
}
.wheel-joint::before {
  left: -0.4rem;
}
.wheel-joint::after {
  right: -0.4rem;
}
.wheel-joint-2 {
  left: 1.8rem;
  right: auto;
  transform: rotate(-15deg);
  transform-origin: 0 50%;
  width: 4.4rem;
}
.wheel-joint-2::before {
  height: 1.1rem;
  width: 1.1rem;
}

@keyframes wheel-joint {
  100% {
    transform: rotate(360deg);
  }
}

.sircab {
  position: absolute;
  width: 62px;
  height: 84px;
  bottom: 8px;
  z-index: 1;
  left: 2%;
  transform: translate(-0%, -50%);
  overflow: hidden;
  padding-top: 15px;
}
.sircab .nameclip{
  top: -98px;
}
.peopal-round {
  position: absolute;
  width: 45px;
  height: 60px;
  bottom: calc(20.5px);
  z-index: 1;
  left: 2%;
  transform: translate(-0%, -50%);
  overflow: hidden;
  padding-top: 15px;
}
.peopal-round-2 {
  position: absolute;
  width: 45px;
  height: 60px;
  bottom: calc(20.5px);
  z-index: 1;
  left: 45%;
  transform: translate(-0%, -50%);
  overflow: hidden;
  padding-top: 15px;
}

.peopal-round img,
.peopal-round-2 img,
.sircab img{
  width: 100%;
}
/*sd*/
.compartment-window::before{
  display: none;
}
/*end */

.nameclip {
  background: url(img/cloud.png);
  padding: 4px 5px;
  position: relative;
  top: -64px;
  z-index: 1;
  font-size: 4.5px;
  border-radius: 13px;
  margin: 0 auto;
  display: table;
  color: #000;
  background-size: cover;
  width: 30px;
  text-align: center;
  line-height: 7.5px;
}

.compartment-fore { 
  animation: body-upDown 0.3s 0.1s infinite;
  left: 45rem;
}
.compartment-fore .compartment-window::before {
  animation: up-down 0.35s infinite;
}

.compartment-five {
  animation: body-upDown 0.3s 0.2s infinite;
  left: 55rem;
}
.compartment-five .compartment-window::before {
  animation: up-down 0.35s infinite;
}

.compartment-six {
  animation: body-upDown 0.3s 0.1s infinite;
  left: 65rem;
}
.compartment-six .compartment-window::before {
  animation: up-down 0.35s infinite;
}

.compartment-7 {
  animation: body-upDown 0.3s 0.2s infinite;
  left: 75rem;
}
.compartment-7 .compartment-window::before {
  animation: up-down 0.35s infinite;
}
.compartment-8 {
  animation: body-upDown 0.3s 0.1s infinite;
  left: 85rem;
}
.compartment-8 .compartment-window::before {
  animation: up-down 0.35s infinite;
}

.compartment-9 {
  animation: body-upDown 0.3s 0.2s infinite;
  left: 95rem;
}
.compartment-9 .compartment-window::before {
  animation: up-down 0.35s infinite;
}

.compartment-10 {
  animation: body-upDown 0.3s 0.1s infinite;
  left: 105rem;
}
.compartment-10 .compartment-window::before {
  animation: up-down 0.35s infinite;
}

.compartment-11 {
  animation: body-upDown 0.3s 0.1s infinite;
  left: 115rem;
}
.compartment-11 .compartment-window::before {
  animation: up-down 0.35s infinite;
}

.compartment-12 {
  animation: body-upDown 0.3s 0.2s infinite;
  left: 125rem;
}
.compartment-12 .compartment-window::before {
  animation: up-down 0.35s infinite;
}

.compartment-13 {
  animation: body-upDown 0.3s 0.1s infinite;
  left: 135rem;
}
.compartment-13 .compartment-window::before {
  animation: up-down 0.35s infinite;
}



.compartment-14 {
  animation: body-upDown 0.3s 0.2s infinite;
  left: 145rem;
}
.compartment-14 .compartment-window::before {
  animation: up-down 0.35s infinite;
}

.compartment-15 {
  animation: body-upDown 0.3s 0.1s infinite;
  left: 155rem;
}
.compartment-15 .compartment-window::before {
  animation: up-down 0.35s infinite;
}

.compartment-16 {
  animation: body-upDown 0.3s 0.2s infinite;
  left: 165rem;
}
.compartment-16 .compartment-window::before {
  animation: up-down 0.35s infinite;
}

.compartment-17 {
  animation: body-upDown 0.3s 0.1s infinite;
  left: 175rem;
}
.compartment-17 .compartment-window::before {
  animation: up-down 0.35s infinite;
}

.compartment-18 {
  animation: body-upDown 0.3s 0.2s infinite;
  left: 185rem;
}
.compartment-18 .compartment-window::before {
  animation: up-down 0.35s infinite;
}


.compartment-19 {
  animation: body-upDown 0.3s 0.1s infinite;
  left: 195rem;
}
.compartment-19 .compartment-window::before {
  animation: up-down 0.35s infinite;
}

.compartment-20 {
  animation: body-upDown 0.3s 0.2s infinite;
  left: 205rem;
}
.compartment-20 .compartment-window::before {
  animation: up-down 0.35s infinite;
}

.compartment-21 {
  animation: body-upDown 0.3s 0.1s infinite;
  left: 215rem;
}
.compartment-21 .compartment-window::before {
  animation: up-down 0.35s infinite;
}




.compartment-22 {
  animation: body-upDown 0.3s 0.2s infinite;
  left: 225rem;
}
.compartment-22 .compartment-window::before {
  animation: up-down 0.35s infinite;
}

.compartment-23 {
  animation: body-upDown 0.3s 0.1s infinite;
  left: 235rem;
}
.compartment-23 .compartment-window::before {
  animation: up-down 0.35s infinite;
}

.compartment-24 {
  animation: body-upDown 0.3s 0.2s infinite;
  left: 245rem;
}
.compartment-24 .compartment-window::before {
  animation: up-down 0.35s infinite;
}

.compartment-25 {
  animation: body-upDown 0.3s 0.1s infinite;
  left: 255rem;
}
.compartment-25 .compartment-window::before {
  animation: up-down 0.35s infinite;
}

.sircoprt {
  animation: body-upDown 0.1s infinite; 
  bottom: 1.4rem;
  height: 10rem; 
  position: absolute;
  width: 13rem; 
}

.compartment-26 {
  animation: body-upDown 0.4s 0.1s infinite;
  left: 255rem;
} 


.wheel-10 {
  left: 45.5rem;
}
.wheel-11 {
  left: 49.7rem;
}
.wheel-12 {
  left: 55.5rem;
}
.wheel-13 {
  left: 59.7rem;
}
.wheel-14 {
  left: 65.5rem;
}
.wheel-15 {
  left: 69.7rem;
}

.wheel-16 {
  left: 75.5rem;
}
.wheel-17 {
  left: 79.7rem;
}

.wheel-18 {
  left: 85.5rem;
}
.wheel-19 {
  left: 89.7rem;
}

.wheel-20 {
  left: 95.5rem;
} 
.wheel-21 {
  left: 99.7rem;
}

.wheel-22 {
  left: 105.5rem;
} 
.wheel-23 {
  left: 109.7rem;
}

.wheel-24 {
  left: 115.5rem;
} 
.wheel-25 {
  left: 119.7rem;
}

.wheel-26 {
  left: 125.5rem;
} 
.wheel-27 {
  left: 129.7rem;
}

.wheel-28 {
  left: 135.5rem;
} 
.wheel-29 {
  left: 139.7rem;
}

.wheel-30 {
  left: 145.5rem;
} 
.wheel-31 {
  left: 149.7rem;
}

.wheel-32 {
  left: 155.5rem;
} 
.wheel-33 {
  left: 159.7rem;
}

.wheel-34 {
  left: 165.5rem;
} 
.wheel-35 {
  left: 169.7rem;
}

.wheel-36 {
  left: 175.5rem;
} 
.wheel-37 {
  left: 179.7rem;
}


.wheel-38 {
  left: 185.5rem;
} 
.wheel-39 {
  left: 189.7rem;
}


.wheel-40 {
  left: 195.5rem;
} 
.wheel-41 {
  left: 199.7rem;
}


.wheel-42 {
  left: 205.5rem;
} 
.wheel-43 {
  left: 209.7rem;
}

.wheel-44 {
  left: 215.5rem;
} 
.wheel-45 {
  left: 219.7rem;
}



.wheel-46 {
  left: 225.5rem;
} 
.wheel-47 {
  left: 229.7rem;
}


.wheel-48 {
  left: 235.5rem;
} 
.wheel-49 {
  left: 239.7rem;
}


.wheel-50 {
  left: 245.5rem;
} 
.wheel-51 {
  left: 249.7rem;
}

.wheel-52 {
  left: 255.5rem;
} 
.wheel-53 {
  left: 259.7rem;
}

.borderbox{ 
  width: 100%;
  position: absolute; 
  height: 170px;
  top: 60px;
  z-index: 99;
  max-width: 767px;
  right: 0%;
  background-color: #000810;
  padding: 25px 0;
  border-radius: 80px 0 0 80px;
  padding-left: 170px;
}
.bordsmaler {
  position: absolute;
  background: #fff;
  border-radius: 122px;
  height: 170px;
  width: 170px;
  top: 0;
  border: 15px solid #000810;
  left: 0;
  align-items: center;
  display: flex;
  padding: 23px;
}

.wrapper {
	text-align: center; 
}
.wrapper h1, .wrapper h2 {
  color: #fff; 
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(to right,#095fab 10%, #25abe8 50%,  #a82626 70%, #57d75b 90%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block; 
}
.wrapper h1{
  font-size: 36px;
} 
.wrapper h2 {
  font-size: 55px;

}


@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

/* 
@media (min-width:767px) and (max-width:1800px)  {
  .bridge {
    bottom: 60px;
  }
  .train {
    bottom: 50px;
  }
} */
.traininner {
  scale: 3;
  margin-left: 115%;
  animation: move-train 200s linear infinite;
  bottom: 320px;
  position: relative;
  height: 210px;
  width: 7000px;
}

@media (max-width:1020px)  {
  .wrapper h1 {
    font-size: 20px;
    margin-top: 34px;
  }
  .wrapper h2 {
    font-size: 24px;
  }
}
@media (min-width:767px) and (max-width:1800px)  {
  
}